.footer {
  min-width: 1440px;
  background-color: #1e2c30;
  color: var(--text-color-light);

  &__container {
    padding-top: 67px;
  }

  &__top {
    display: flex;
    background-image: url(../images/png/footer-logo-1x-min.png);
    background-repeat: no-repeat;
    background-position: left top;
    padding: 5px 0 40px;

    border-bottom: 1px solid rgba(255, 255, 255, 15%);
    margin-bottom: 40px;
  }

  &__soc-list {
    display: flex;
    margin-left: auto;
    gap: 10px;
  }

  &__soc-item {
    box-sizing: border-box;
    width: 55px;
    height: 55px;
  }

  &__soc-link {
    width: 100%;
    height: 100%;
    border: 2px solid var(--acent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--text-color-light);
    transition: all 400ms linear;

    &:hover,
    &:focus {
      fill: var(--acent-color);
      border: 2px solid transparent;
    }
  }

  &__soc-icon {
    fill: inherit;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-family: var(--title-font);
    font-size: 22px;
    line-height: 1.4;
    letter-spacing: 0.016em;
    margin-bottom: 30px;
  }

  &__item:not(:last-child) {
    margin-bottom: 15px;
  }

  &__link {
    font-family: var(--text-font);
    font-size: 17px;
    line-height: 1.7;
    letter-spacing: 0.01em;

    transition: all 400ms linear;

    &:hover,
    &:focus {
      color: var(--acent-color);
    }
  }

  &__address-list {
    font-family: var(--text-font);
    font-size: 17px;
  }

  &__address-item {
    display: flex;
  }

  &__address-item:not(:last-child) {
    margin-bottom: 30px;
  }

  &__address-name {
    width: 80px;
    line-height: 1.7;
    letter-spacing: 0.01em;
  }

  &__address-link {
    line-height: 1.5;
    letter-spacing: 0em;
    margin-left: 30px;
    transition: all 400ms linear;

    &:hover,
    &:focus {
      color: var(--acent-color);
    }
  }

  &__hours {
    font-family: var(--text-font);
    font-size: 17px;
    line-height: 1.5;
    letter-spacing: 0;
  }

  &__hours:not(:last-child) {
    margin-bottom: 20px;
  }

  &__bottom {
    background-color: #111e22;
    text-align: center;
    font-family: var(--text-font);
    font-size: 15px;
    line-height: 1.54;
    letter-spacing: 0.1em;
    padding: 16px;
    margin-top: 67px;
  }
}
