.hero {
  min-width: 1440px;
  padding: 220px 0;
  background-color: #ebf3f5;

  &__container {
    position: relative;
  }

  &__content {
    width: 485px;

    &::after {
      content: "";
      position: absolute;
      width: 592px;
      height: 645px;
      border: 7px solid var(--acent-color);
      right: 120px;
      top: -110px;
    }

    &::before {
      content: url(../images/png/hero-1x-min.png);
      position: absolute;
      width: 550px;
      height: 545px;
      right: 220px;
      top: -70px;
      z-index: 1;
    }
  }

  &__top-text {
    font-family: var(--text-font);
    color: var(--acent-color);
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 4px;
  }

  &__title {
    font-family: var(--title-font);
    color: var(--title-color);
    font-size: 55px;
    line-height: 1.3;
    letter-spacing: 0.012em;
    margin-bottom: 20px;
  }

  &__description {
    font-family: var(--text-font);
    font-size: 19px;
    line-height: 1.62;
    letter-spacing: 0;
    margin-bottom: 20px;
  }

  &__btn {
    margin-bottom: 14px;

    background-color: var(--acent-color);
    color: var(--text-color-light);
    border: 2px solid var(--acent-color);
    transition: all 400ms linear;

    &:hover,
    &:focus {
      color: var(--title-color);
      background-color: #ffffff;
    }
  }
}
